@model ProjEvent.Models.login
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
   
}
        @*<!DOCTYPE html>
            <html>

                <body class="b">
                    <div class="center">
                        <!-- big box-->
                        <div id="box1">Log in</div> <!-- login -->
                        <div id="box2">
                            <!-- email&pass -->
                            <div id="email">e-mail</div>
                            <div id="emailtobox"><input type="text"></div> <!-- emailtobox --> <br />
                            <div id="pass">
                                Password <input type="text">
                            </div><br /> <!-- email&pass -->
                        </div>
                        <div id="box3">
                            <a href="#" class="btn">Submit</a>
                        </div>
                    </div><!-- big box -->
                </body>
            </html>*@

        @*<div class="container-fluid">
                <fieldset style="width:300px;">
                    <legend>Login</legend>
                    <table>
                        <tr>
                            <td>@Html.Label("Enter User Name")</td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(a => a.username)</td>
                            <td>@Html.ValidationMessageFor(a=>a.username)</td>
                        </tr>
                        <tr>
                            <td>@Html.Label("Enter Password")</td>
                        </tr>
                        <tr>
                            <td>@Html.PasswordFor(a => a.password)</td>
                            <td>@Html.ValidationMessageFor(a => a.password)</td>
                        </tr>
                        <tr>
                            <td><input type="submit" id="submitbtn" value="Login" /></td>
                        </tr>
                    </table>
                </fieldset>
            </div>*@

